.login-main {
  
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(
      0deg,
      rgba(50, 50, 80, 0.95),
      rgba(80, 50, 80, 0.9)
    ) !important;
    background-size: cover !important;
    margin: 0 !important;
  }
  .login-main::before {
    position: absolute;
    width: 2000px;
    height: 1000px;
    opacity: 0.3;
    background: linear-gradient(0deg, #000d, #000d);
    background-size: cover, cover !important;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    transform: rotate(60deg);
    bottom: -600px;
    left: -1000px;
  }

.login-block {
    max-width: 450px !important;
    background-color: #0003;
    border: 2px solid #fffb;
    border-radius: 6px;
  }